<div class="row d-flex" id = "images_list">
  <% if !f.object.new_record? && f.object.images.attached? %>
    <% f.object.images.each do |image| %>
      <%= render partial: 'layouts/image_snippet', locals: {blob: image, f: f} %>
    <% end %>
<% end %>
</div>
